<mat-toolbar id="myFooterToolbar">
    <div id="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/67/2018_FIFA_World_Cup.svg/1200px-2018_FIFA_World_Cup.svg.png" height="80" width="73">
    </div>
    <img src="../../../assets/img/leftPic.jpg" height="50" width="83">
    <!-- <mat-card> -->
    <span class="fill-space"></span>
    <a [href]="fbookUrl" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" matTooltip="Facebook" matTooltipPosition="above"></a>
    <a [href]="twitterUrl" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" matTooltip="Twitter" matTooltipPosition="above"></a>
    <a [href]="linkedinUrl" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" matTooltip="Linkedin" matTooltipPosition="above"></a>
    <a [href]="googleUrl" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" matTooltip="Google plus" matTooltipPosition="above"></a>
    <span class="fill-space"></span>
    <!-- </mat-card> -->
    <img src="../../../assets/img/rightPic.jpeg" height="50" width="83">
</mat-toolbar>