<!-- <div id="logo">
    <img src="http://www.fifa.com/assets/img/tournaments/17/2018/promo/tickets.png" height="90" width="143">
</div>-->

<mat-toolbar id="myHeaderToolbar">
    <a routerlink="/home" routerlinkactive="nav-active" href="/home">
        <mat-icon class="mat-icon material-icons" style="color:rgb(255, 0, 34)" role="img" aria-hidden="true">home</mat-icon><b>Accueil</b></a>
    <a routerlink="/bets" routerlinkactive="nav-active" href="/bets">
        <mat-icon class="mat-icon material-icons" style="color:rgb(255, 0, 34)" role="img" aria-hidden="true">filter_9_plus</mat-icon><b>Paris Ouverts</b></a>
    <a routerlink="/tournament" routerlinkactive="nav-active" href="/tournament">
        <mat-icon class="mat-icon material-icons" style="color:rgb(255, 0, 34)" role="img" aria-hidden="true">multiline_charts</mat-icon><b>Tournoi</b>
    </a>
    <a routerlink="/user" routerlinkactive="nav-active" href="/user">
        <mat-icon class="mat-icon material-icons" style="color:rgb(255, 0, 34)" role="img" aria-hidden="true">supervisor_account</mat-icon><b>Mon Compte</b></a>

</mat-toolbar>